* {
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
    box-sizing: none !important;
}

#Body
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.Content
{
  color: white;
  flex:5;
  float: left;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 10px;
  background-color: rgba(90,90,90,0.6); 
  /*#808080ad*/
}

#Menu-wrap
{
  flex:1;
  float: left;
  margin: 0.5em;
  padding: 0.5em;
  margin-right: 0em;
  border-radius: 10px;
  background-color: #800080ad;
  display: flex;
  flex-direction: column;
  text-align: center
}

#Menu-wrap a
{
  flex:1;
  text-decoration: none;
  color: white;
  padding: 3em;
}

#Header-wrap
{
  color: white;
  display: flow-root;
  background-color: rgba(90,90,90,0.6);
  border-radius: 0 0 10px 10px;
}

#Logo
{
  float: left;
  padding-left: 15%;
  display: inline-block;
  width: 3em;
  height: 3em;
}

#Profile
{
  padding-right: 15%;
  float: right;
  display: inline-block;
}

#Avatar
{
  display: inline-block;
  width: 3em;
  height: 3em;
}

#Logo
{
  display: inline-block;
  width: 30em;
  height: 12em;
}

#Username
{
  display: inline-block;
}

#Log-in-out
{
  display: inline-block;
  width: 10em;
  height: 3em;
}

.table
{
  color: white;
}